<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>SmartExpense - Registration</title>
    <link href="/css/styleRegister.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"/>
</head>
<body>
<div class="background">
    <div class="particles"></div>
    <div class="floating-shapes">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>
        <div class="shape shape-4"></div>
    </div>
    <div class="login-container">
        <img alt="SmartExpense Logo" class="logo-img" src="/images/logo.png"/>
        <div class="logo-text">SmartExpense</div>
        <h2 class="pulse">Registration</h2>
        <div class="error-alert" th:if="${error != null}">
            <i class="fas fa-exclamation-circle"></i>
            <span th:text="${error}"></span>
        </div>
        <form method="POST" th:action="@{/register}" th:object="${registerRequest}">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input id="username" placeholder="Username" required th:field="*{username}" type="text"/>
                <p class="error-message" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>

            </div>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input id="email" placeholder="Email" required th:field="*{email}" type="email"/>

            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input id="password" placeholder="Password" required th:field="*{password}" type="password"/>
                <p class="error-message" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
            </div>
            <div class="input-group">
                <i class="fas fa-globe"></i>
                <select id="country" required th:field="*{country}">
                    <option disabled selected value="">Избери държава</option>
                    <option th:each="c : ${T(app.user.model.Country).values()}"
                            th:text="${#strings.capitalize(#strings.toLowerCase(c.name()))}"
                            th:value="${c}">
                    </option>
                </select>
                <p class="error-message" th:errors="*{country}" th:if="${#fields.hasErrors('country')}"></p>
            </div>


            <button type="submit">Register</button>
        </form>

    </div>
</div>
</body>
</html>
