<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartExpense - Registration</title>
    <link rel="stylesheet" href="/css/styleRegister.css" />
    <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
<div class="background">
    <div class="particles"></div>
    <div class="floating-shapes">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>
        <div class="shape shape-4"></div>
    </div>
    <div class="login-container">
        <img src="/images/logo.png" alt="SmartExpense Logo" class="logo-img" />
        <div class="logo-text">SmartExpense</div>
        <h2 class="pulse">Registration</h2>
        <form th:action="@{/register}" method="POST" th:object="${registerRequest}">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" id="username" th:field="*{username}" required />
                <p class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

            </div>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" id="email" th:field="*{email}" required />

            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" id="password" th:field="*{password}" required />
                <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="input-group">
                <i class="fas fa-globe"></i>
                <select id="country" th:field="*{country}" required>
                    <option value="" disabled selected>Избери държава</option>
                    <option th:each="c : ${T(app.user.model.Country).values()}"
                            th:value="${c}"
                            th:text="${#strings.capitalize(#strings.toLowerCase(c.name()))}">
                    </option>
                </select>
                <p class="error-message" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
            </div>


            <button type="submit">Register</button>
        </form>

    </div>
</div>
</body>
</html>
