<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartExpense - Home</title>
    <link rel="stylesheet" href="/css/styleIndex.css" />
    <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="particles"></div>
    <div class="login-container">
        <img src="/images/logo.png" alt="SmartExpense Logo" class="logo-img" />
        <div class="logo-text">SmartExpense</div>
        <div class="login-form">
            <h2 class="pulse">Welcome</h2>
            <p>Track expenses, manage budgets, and stay on top of your finances.</p>
            <div class="links">
                <a th:href="@{/login}" class="btn">Login</a>
                <a th:href="@{/register}" class="btn">Registration</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>

